<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="serviceMainConfig" type="SqlExercise.Base.ServiceMainSettings,SqlExercise.Base"/>
  </configSections>
  <connectionStrings>
    <add name="conn" connectionString="server=.;database=SqlPrictise;uid=sa;pwd=1234;"/>
  </connectionStrings>
  <serviceMainConfig serviceName="SqlExerciseService" treeConfigFile="Tree.config">
    <addinConfigs>
      <add name="CreateTestTable" description="创建测试表" type="SqlExercise.CreateTestTable.CreateTableControl, SqlExercise"/>
      <add name="PartitionBy" description ="联系局部排序" type="SqlExercise.Partition_By.PartitionByControl, SqlExercise"/>
      <add name="MergeInto" description="合并表" type="SqlExercise.Merge_Into.MergeInfoControl,SqlExercise"/>
      <add name="WithAS" description ="解决嵌套,实现递归" type="SqlExercise.With_As.WithAsControl,SqlExercise"/>
      <add name="LinqExercise" description ="Linq联查DataTable" type="SqlExercise.Linq_Exercise.LinqExerciseControl,SqlExercise"/>
    </addinConfigs>
  </serviceMainConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>