<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <TreeNodes>
    <TreeNode>
      <name>CreateTestTable</name>
      <title></title>
      <decription></decription>
    </TreeNode>
    <TreeNode>
      <name>PartitionBy</name>
      <title></title>
      <decription></decription>
    </TreeNode>
    <TreeNode>
      <name>WithAS</name>
      <title></title>
      <decription></decription>
    </TreeNode>
    <TreeNode>
      <name>MergeInto</name>
      <title></title>
      <decription></decription>
    </TreeNode>
    <TreeNode>
      <name>LinqExercise</name>
      <title></title>
      <description></description>
    </TreeNode>
    <TreeNode>
      <name>Procedure</name>
      <title></title>
      <decription></decription>
    </TreeNode>
  </TreeNodes>
</configuration>